@{<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@ViewBag.Title - The Rapper API</title>
  <link rel="stylesheet" href="~/bootstrap.css"/>
</head>

<body>@RenderBody()</body>
<script src="~/route.js"></script>

</html>}