@{ // VARIABLES //

  var rapperRts = new List<string> {
    "/api/",
    "/api/name/{name}",
    "/api/realName/{realName}",
    "/api/hometown/{hometown}"
  };

  var groupRts = new List<string> {
    "/api/groups/",
    "/api/groups/",
    "/api/groups/{name}",
    "/api/groups/artists=?{true/false}"
  };
}

@{ // HTML WITH C# //

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Rapper API</title>
</head>

  <body>

    <h2>Welcome to the Rapper API!</h2>
    <p>To get rapper info:</p>
    <ul>
      @foreach (var route in rapperRts) {
        <li>@route</li>
      }
    </ul>
    <p>To get group info:</p>
    <ul>
      @foreach (var route in groupRts) {
        <li>@route</li>
      }
    </ul>
    <p>Page loaded at @DateTime.Now</p>

  </body>

</html>

}